.duration1{
    font-weight: 700;
    position: absolute;
    margin: 0px 375px;
    margin-top: -35px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);
    
}

.duration2{
    position: absolute;
    margin: -35px;
    margin-left: 400px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);

}

.duration3{
    position: absolute;
    margin: -35px;
    margin-left: 385px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);

}


.duration4 ,
.duration5 ,
.duration6{
    position: absolute;
    margin: -35px;
    margin-left: 405px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);
}



.duration7 ,
.duration9{
    position: absolute;
    margin-bottom: -95px;
    margin-left: 400px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);

} 

.duration8{
    position: absolute;
    margin-bottom: -95px;
    margin-left: 390px;
    color: rgb(244, 232, 232);
    font-size: large;
    border: 1px ,rgb(100, 96, 96) ,solid;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);
}